/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "susy";
@import "breakpoint";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,400italic);

$header-font: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
$primary-color: #d6264f;
$secondary-color: #0074D9;

body {
	@include container(50em);
	background-color: $primary-color;
	color: white;
	font-family: $header-font;
}

header{
	text-align: center;
	font-family: $header-font;
	h1{
		font-size: 4em;
		font-weight: 300;
		margin-bottom: 0;
	}

	h2{
		font-size: 2em;
		font-weight: 300;
		margin-top: 0.3em;
		text-transform: uppercase;	
	}
}

nav{
	color: white;
	font-size: 1.5em;
	ul{
		list-style-type: none;
		padding: 0;
		li{
			display: inline-block;
			padding: 0.5em;
		}

		li:hover{
			background-color: $secondary-color;
		}
	}
}

#content{
	p{
		font-size: 1.2em;
		line-height: 1.5em;
	}
}